.dashboard {}

.dashboard-head {
    padding: 30px;
}
.dashboard-head h3 {
    color: #F5F5F5;
}

.dashboard-body {}

.dashboard-body-item {
    padding: 10px;
    background-color: #F5F5F5;
}

.dashboard-body-item:hover {
    background-color: #EEEEEE;
}

.dashboard-body-item a {
    color: #263238;
}
