.cont{
    max-height: auto;
    background-color: #CFD8DC;
    padding: 35px;
}
.main{
    width : auto;
    min-height: 500px;
    max-height: auto;
    margin : 0px auto;
    padding: 15px;
    border-radius: 10px;
    background-color: #FAFAFA;
}
.main-cont{
    min-height: 400px;
    max-height: auto;
}